<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="CeloTest" verbose="1">
    <test name="CeloDemo">
        <classes>
            <class name="Tests.ConversationTests">
            </class>
            <class name="Tests.RegisterTests">
            </class>
            <class name="Tests.LoginTests">
            </class>
        </classes>
    </test>
</suite>